extends layout

block content
  h1= title
  form#uploadForm(name="upload",method="post", enctype="multipart/form-data", action="/uploadResource")
        input#resource(type="file", name="resource")
        br
        br
        input#description(type="text", name="description", placeholder="Description")
        br
        br
        input#btnSubmit(type="submit" value="upload")