<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Resources Test</title>
	</head>
	<body>
		<div>
			<p>Resources module</p>
			<form id="FileUploader" enctype="multipart/form-data" action="/api/photo" method="post">
				<input type="file" name="userFile">
				<br>
				<input type="submit" value="Upload" name="submitFile">
			</form>
		</div>
		<br>
		<div>
			<p>Reporting module</p>
		</div>
		<br>
		<div>
			<p>Thread module</p>
		</div>
		<br>
		<div>
			<p>Status module</p>
		</div>
	</body>
</html>
